<div id="calories-eaten-info" style="margin-left; 15px; background:transparent; padding:15px">
    <div class="row">
        <div class="column-chart-area">
            <div class="col-sm-12 col-md-12" id="pie-chart" style="padding: 0px; height: 575px; ">
                <div id="pie-wrapper">
                    <div class="chart-padding" id="pie">
                        <div id="donut" style="display: left; height: 575px;">
                            {{> Macronutrient-breakdown}}
                            {{> meals-cards}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
