<!-- Card area -->
<div class="card-row">
    <div class="col-xs-12 card-container">
        <div class="card-row">
            <div class="card-block dashboard-nav-card e-card active-card-orange" id="calories">
                <div id="calories-bg">
                    <div style="max-width: 445px; background-image: null; border-radius: 4px">
                        <div id="calories-value">
                            <div id="foodimg"><span class="card-text" id="calories-subtitle">Calories Eaten</span>
                                <span id="food-img" class="icon-Food"
                                    style="font-size: 50px; margin-left: 12%; margin-bottom: 2% "></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block dashboard-nav-card e-card" id="step">
                <div id="step-bg">
                    <div id="stepcard">
                        <div id="step-value" style="max-width: 445px; background-image: null; border-radius: 4px">
                            <div id="stepimg"><span class="card-text" id="steps-subtitle">Physical Activity</span>
                                <span id="steps-img" class="icon-Steps"
                                    style="font-size: 50px; margin-left: 12%; margin-bottom: 2%"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block dashboard-nav-card e-card" id="water">
                <div id="water-bg">
                    <div id="watercard">
                        <div id="water-value" style="max-width: 445px; background-image: null; border-radius: 4px">
                            <div id="waterimg"><span class="card-text" id="water-subtitle">Water Consumed</span>
                                <span id="water-img" class="icon-Water"
                                    style="font-size: 50px; margin-left: 12%; margin-bottom: 2%"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block dashboard-nav-card e-card" id="sleep">
                <div id="sleep-bg">
                    <div id="sleepcard" style="max-width: 445px;">
                        <div id="sleep-value" style="max-width: 445px; background-image: null; border-radius: 4px">
                            <div id="sleepimg"><span class="card-text" id="sleep-subtitle">Sleep Duration</span>
                                <span id="sleep-img" class="icon-Sleep"
                                    style="font-size: 50px; margin-left: 12%; margin-bottom: 2%"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>