<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" id="pie" style="margin: left 10px; background:white; padding:0px">
    <div id="pie-title"
        style=" cursor: default; margin-left: 10px; font-family: Roboto;  font-weight: 500; font-size: 20px; text-align: left; color: #1A1A1A">
        <h2>Macro Nutrients</h2>
    </div>
    <div class="breaktext" id="breakfast-info" align="left">
        <h3>Breakfast</h3>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="height: 31px; font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fatimg" id="fat-img" style="margin-left: 20%" src="../assets/images/icons/fat.png"
                    align="Left">
                <div id="fat_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fat</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fibreimg" id="fibre-img" style="margin-left: 20%" src="../assets/images/icons/fibre.png"
                    align="Left">
                <div id="fibre_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fibre</p>
            </div>
        </div>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Carbsimg" id="carbs-img" style="margin-left: 20%" src="../assets/images/icons/Carb.png"
                    align="Left">
                <div id="carbs_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Carbs</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Calciumimg" id="calcium-img" style="margin-left: 20%"
                    src="../assets/images/icons/Calcium.png" align="Left">
                <div id="calcium_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Calcium</p>
            </div>
        </div>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Proteinimg" id="protein-img" style="margin-left: 20%"
                    src="../assets/images/icons/Protein.png" align="Left">
                <div id="protein_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Protein</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style=" padding: 0px;height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Vitaminsimg" id="vitamin-img" style="margin-left: 20%"
                    src="../assets/images/icons/vitamins.png" align="Left">
                <div id="vitamins_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Vitamins</p>
            </div>
        </div>
    </div>
    <div class="hide lunchtext" id="lunch-info" align="left">
        <h3>Lunch</h3>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px; font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fatimg" id="fat-img" style="margin-left: 20%" src="../assets/images/icons/fat.png"
                    align="Left">
                <div id="fat_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fat</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fibreimg" id="fibre-img" style="margin-left: 20%" src="../assets/images/icons/fibre.png"
                    align="Left">
                <div id="fibre_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fibre</p>
            </div>
        </div>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Carbsimg" id="carbs-img" style="margin-left: 20%" src="../assets/images/icons/Carb.png"
                    align="Left">
                <div id="carbs_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Carbs</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Calciumimg" id="calcium-img" style="margin-left: 20%"
                    src="../assets/images/icons/Calcium.png" align="Left">
                <div id="calcium_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Calcium</p>
            </div>
        </div>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Proteinimg" id="protein-img" style="margin-left: 20%"
                    src="../assets/images/icons/Protein.png" align="Left">
                <div id="protein_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Protein</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style=" padding: 0px;height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Vitaminsimg" id="vitamin-img" style="margin-left: 20%"
                    src="../assets/images/icons/vitamins.png" align="Left">
                <div id="vitamins_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Vitamins</p>
            </div>
        </div>
    </div>

    <div class="hide dinnertext" id="dinner-snack-info" align="left">
        <h3>Dinner+Snack</h3>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px; font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fatimg" id="fat-img" style="margin-left: 20%" src="../assets/images/icons/fat.png"
                    align="Left">
                <div id="fat_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fat</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fibreimg" id="fibre-img" style="margin-left: 20%" src="../assets/images/icons/fibre.png"
                    align="Left">
                <div id="fibre_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fibre</p>
            </div>
        </div>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Carbsimg" id="carbs-img" style="margin-left: 20%" src="../assets/images/icons/Carb.png"
                    align="Left">
                <div id="carbs_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Carbs</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Calciumimg" id="calcium-img" style="margin-left: 20%"
                    src="../assets/images/icons/Calcium.png" align="Left">
                <div id="calcium_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Calcium</p>
            </div>
        </div>
        <div style=" height: 38px;  cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Proteinimg" id="protein-img" style="margin-left: 20%"
                    src="../assets/images/icons/Protein.png" align="Left">
                <div id="protein_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Protein</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style=" padding: 0px;height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Vitaminsimg" id="vitamin-img" style="margin-left: 20%"
                    src="../assets/images/icons/vitamins.png" align="Left">
                <div id="vitamins_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Vitamins</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="row col-6">
                <div class="row ml-auto">
                    <div class="card text-white bg-secondary border-dark mt-5" style="width: 35rem;">
                        <div class="card-body">
                            <h2 class="card-title">Daily Meal Logger:</h2>
                            <select class="form-control form-control-lg" id="mealSelector">
                                <option value="breakfast">Breakfast</option>
                                <option value="lunch">Lunch</option>
                                <option value="dinner">Dinner</option>
                                <option value="snack">Snack</option>
                            </select>
                            <div class="input-group mt-3 mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Food:</span>
                                </div>
                                <input type="text" class="form-control" id="foodSearch" aria-describedby="basic-addon3">
                            </div>
                            <button type="button" class="btn btn-warning" id="searchBtn">Search <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row ml-auto">
                    <div class="card text-white bg-secondary border-dark mt-5" id="searchCard" style="width: 60rem; height: 35rem;">
                        <div class="card-body">
                            <h2 class="card-title">Search Results:</h2>
                            <div class="foodOptions">
                                <ul class="list-group">
                                    <button type="button" class="btn btn-warning hide mt-3 foodOption "
                                        id="foodBtn0">Add</button>
                                    <button type="button" class="btn btn-warning hide mt-3 foodOption"
                                        id="foodBtn1">Add</button>
                                    <button type="button" class="btn btn-warning hide mt-3 foodOption"
                                        id="foodBtn2">Add</button>
                                    <button type="button" class="btn btn-warning hide mt-3 foodOption"
                                        id="foodBtn3">Add</button>
                                    <button type="button" class="btn btn-warning hide mt-3 foodOption"
                                        id="foodBtn4">Add</button>
                                    <button type="button" class="btn btn-warning hide mt-3 foodOption"
                                        id="foodBtn5">Add</button>
                                    <button type="button" class="btn btn-warning hide mt-3 foodOption"
                                        id="foodBtn6">Add</button>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/NutritionixSearchFood.js"></script>