<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" id="pie" style="margin: left 10px; background:white; padding:0px">
    <div id="pie-title"
        style=" cursor: default; margin-left: 10px; font-family: Roboto;  font-weight: 500; font-size: 20px; text-align: left; color: #1A1A1A">
        <h2>Macro Nutrients</h2>
    </div>
    <div class="breaktext" id="Breakfast-info" align="left">
        <h3>Breakfast</h3>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px; font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fatimg" id="fat-img" style="margin-left: 20%" src="../assets/images/icons/fat.png"
                    align="Left">
                <div id="fat_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fat</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fibreimg" id="fibre-img" style="margin-left: 20%" src="../assets/images/icons/fibre.png"
                    align="Left">
                <div id="fibre_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fibre</p>
            </div>
        </div>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Carbsimg" id="carbs-img" style="margin-left: 20%" src="../assets/images/icons/Carb.png"
                    align="Left">
                <div id="carbs_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Carbs</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Calciumimg" id="calcium-img" style="margin-left: 20%"
                    src="../assets/images/icons/Calcium.png" align="Left">
                <div id="calcium_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Calcium</p>
            </div>
        </div>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Proteinimg" id="protein-img" style="margin-left: 20%"
                    src="../assets/images/icons/Protein.png" align="Left">
                <div id="protein_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Protein</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style=" padding: 0px;height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Vitaminsimg" id="vitamin-img" style="margin-left: 20%"
                    src="../assets/images/icons/vitamins.png" align="Left">
                <div id="vitamins_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Vitamins</p>
            </div>
        </div>
    </div>
    <div class="lunchtext" id="lunch-info" align="left">
        <h3>Lunch</h3>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px; font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fatimg" id="fat-img" style="margin-left: 20%" src="../assets/images/icons/fat.png"
                    align="Left">
                <div id="fat_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fat</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fibreimg" id="fibre-img" style="margin-left: 20%" src="../assets/images/icons/fibre.png"
                    align="Left">
                <div id="fibre_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fibre</p>
            </div>
        </div>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Carbsimg" id="carbs-img" style="margin-left: 20%" src="../assets/images/icons/Carb.png"
                    align="Left">
                <div id="carbs_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Carbs</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Calciumimg" id="calcium-img" style="margin-left: 20%"
                    src="../assets/images/icons/Calcium.png" align="Left">
                <div id="calcium_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Calcium</p>
            </div>
        </div>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Proteinimg" id="protein-img" style="margin-left: 20%"
                    src="../assets/images/icons/Protein.png" align="Left">
                <div id="protein_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Protein</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style=" padding: 0px;height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Vitaminsimg" id="vitamin-img" style="margin-left: 20%"
                    src="../assets/images/icons/vitamins.png" align="Left">
                <div id="vitamins_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Vitamins</p>
            </div>
        </div>
    </div>

    <div class="dinnertext" id="dinner+snack-info" align="left">
        <h3>Dinner+Snack</h3>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px; font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fatimg" id="fat-img" style="margin-left: 20%" src="../assets/images/icons/fat.png"
                    align="Left">
                <div id="fat_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fat</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Fibreimg" id="fibre-img" style="margin-left: 20%" src="../assets/images/icons/fibre.png"
                    align="Left">
                <div id="fibre_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30%  ">Fibre</p>
            </div>
        </div>
        <div style=" height: 38px; cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Carbsimg" id="carbs-img" style="margin-left: 20%" src="../assets/images/icons/Carb.png"
                    align="Left">
                <div id="carbs_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Carbs</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Calciumimg" id="calcium-img" style="margin-left: 20%"
                    src="../assets/images/icons/Calcium.png" align="Left">
                <div id="calcium_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Calcium</p>
            </div>
        </div>
        <div style=" height: 38px;  cursor: default">
            <div class="col-xs-4 col-sm-4 col-md-4"
                style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Proteinimg" id="protein-img" style="margin-left: 20%"
                    src="../assets/images/icons/Protein.png" align="Left">
                <div id="protein_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Protein</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"
                style=" padding: 0px;height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                <img class="Vitaminsimg" id="vitamin-img" style="margin-left: 20%"
                    src="../assets/images/icons/vitamins.png" align="Left">
                <div id="vitamins_value" style="padding-left: 30% "></div>
                <p id="caloriescontent" style="padding-left: 30% ">Vitamins</p>
            </div>
        </div>
    </div>
</div>