<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="caloriesicon-column">
                                <div class="row" style="margin-left: 10px; margin-top:40px; height: 93px; width: 100% ">
                                    <div class="col-sm-12" id="Break-icon"
                                        style="border-radius: 4px; padding-top:10px; padding-right:0px; padding-left: 0px; height: 93px; ">
                                        <button><span id="Breakfast" class="icon-Breakfast breakimg"
                                                style="padding: 20px; font-size: 48px;"></span>
                                            <div class="breaktext" id="Break-text" align="center">Breakfast</div>
                                        </button>
                                    </div>
                                </div>
                                <div class="row" style="margin-left: 10px; margin-top:30px; height: 93px; width: 100% ">
                                    <div class="col-sm-12" id="Lunch-icon"
                                        style="border-radius: 4px; padding-top:10px; padding-right:0px; padding-left: 0px; height: 93px; ">
                                        <button><span id="Lunch" class="icon-Lunch lunchimg"
                                                style="padding: 20px; font-size: 48px;"></span>
                                            <div class="lunchtext" id="Lunch-text" align="center">Lunch</div>
                                        </button>
                                    </div>
                                </div>
                                <div class="row" style="margin-left: 10px; margin-top:30px; height: 93px; width: 100% ">
                                    <div class="col-sm-12" id="Dinner-icon"
                                        style="border-radius: 4px; padding-top:10px; padding-right:0px; padding-left: 0px; height: 93px; ">
                                        <button><span id="Dinner" class="icon-Dinner dinnerimg"
                                                style="padding:20px; font-size: 48px;"></span>
                                            <div class="dinnertext" id="Dinner-text" align="center">Dinner</div>
                                        </button>
                                    </div>
                                </div>
                                <div class="row" style="margin-left: 10px; margin-top:30px; height: 93px; width: 100% ">
                                    <div class="col-sm-12" id="Snack-icon"
                                        style="border-radius: 4px; padding-top:10px;padding-right:0px; padding-left: 0px; height: 93px; ">
                                        <button><span id="Snack" class="icon-Snack snackimg"
                                                style="padding: 20px; font-size: 48px;"></span>
                                            <div class="snacktext" id="Snack-text" align="center">Snack</div>
                                        </button>
                                    </div>
                                </div>
                            </div>