<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="caloriesicon-column">
    <button class="row meal-info-card active-card-orange" id="Break-info-card"
        style="margin-left: 10px; margin-top:40px; height: 93px; width: 70% ">
        <span id="Breakfast" class="icon-Breakfast breakimg" style="padding: 10px; font-size: 48px;"></span>
        <div class="breaktext" id="Break-text" align="center">Breakfast</div>
    </button>
    <button class="row meal-info-card" id="Lunch-info-card"
        style="margin-left: 10px; margin-top:30px; height: 93px; width: 70% ">
        <span id="Lunch" class="icon-Lunch lunchimg" style="padding: 10px; font-size: 48px;"></span>
        <div class="lunchtext" id="Lunch-text" align="center">Lunch</div>
    </button>
    <button class="row meal-info-card" id="Dinner-info-card"
        style="margin-left: 10px; margin-top:30px; height: 93px; width: 70% ">
        <span id="Dinner" class="icon-Dinner dinnerimg" style="padding: 10px; font-size: 48px;"></span>
        <div class="dinnertext" id="Dinner-text" align="center">Dinner</div>
    </button>
    <button class="row meal-info-card" id="Snack-info-card"
        style="margin-left: 10px; margin-top:30px; height: 93px; width: 70% ">
        <span id="Snack" class="icon-Snack snackimg" style="padding: 10px; font-size: 48px;"></span>
        <div class="snacktext" id="Snack-text" align="center">Snack</div>
    </button>
</div>