<div id="sleep-duration-info" class="hide row" style="margin-top: 90px; cursor: default">
    <div id="semi-pie">
        <div class="col-sm-12" id="pie" style="padding:0px">
            <div id="pie-title"
                style=" padding-top: 20px; cursor: default; margin-bottom: 6px;  margin-left: 20px; font-family: Roboto;  font-weight: 500; font-size: 20px; text-align: left; color: #1A1A1A">
                Sleep Quality
            </div>
            <div class="row" style="height: 100px; cursor: default">
                <div class="col-xs-6 col-sm-6 col-md-6" id="Deepsleep"
                    style="border-top: 1px solid #D2D2D2; border-right: 1px solid #D2D2D2; padding-top: 20px; height: 100px;font-family: Roboto;  font-weight: 500; font-size: 24px; color: #392178; letter-spacing: -0.08px; text-align: center; ">
                    <p id="deephour"><b>1h 12 mins </b></p>
                    <p id="deeplegend"
                        style="font-family: Roboto; font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px; line-height: 0px; text-align: center;">
                        Deep Sleep
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col md-6" id="Lightsleep"
                    style="border-top: 1px solid #D2D2D2; padding-top: 20px; height: 100px;font-family: Roboto; font-weight: 500; font-size: 24px; color: #6137E3; letter-spacing: -0.08px; text-align: center; ">
                    <p id="lighthour"><b>4h 37 mins</b></p>
                    <p id="lightlegend"
                        style="font-family: Roboto; font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px;line-height: 0px; text-align: center;">
                        Light Sleep
                    </p>
                </div>
            </div>
            <div class="row" style="height: 100px; cursor: default">
                <div class="col-xs-6 col-sm-6 col-md-6" id="Awake"
                    style="border-top: 1px solid #D2D2D2;border-right: 1px solid #D2D2D2; padding-top:20px; height: 100px;font-family: Roboto; font-weight: 500; font-size: 24px; color: #9572FF; letter-spacing: -0.08px; text-align: center; ">
                    <p id="awakehour"><b>18 mins </b></p>
                    <p id="awakelegend"
                        style="font-family: Roboto;  font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px; line-height: 0px; text-align: center;">
                        Awake</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" id="REM"
                    style="border-top: 1px solid #D2D2D2; padding-top:20px; height: 100px;font-family: Roboto;  font-weight: 500; font-size: 24px; color: #4F2BAF; letter-spacing: -0.08px; text-align: center; ">
                    <p id="remhour"><b>53 mins </b></p>
                    <p id="lightlegend"
                        style="font-family: Roboto; font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px; line-height: 0px; text-align: center;">
                        REM Sleep
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>