<div id="sleep-duration-info" class="hide" style="margin-top: 10px; cursor: default">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" id="pie" style=" background:white; padding:15px">
        <div id="pie-title"
            style="cursor: default; margin-left: 15px; font-family: Roboto;  font-weight: 500; font-size: 20px; text-align: left; color: #1A1A1A">
            <h2>Sleep Cycles Calculator😴</h2>
        </div>
        <select id="choice">
        <option>I want to wake up at:</option>
        <option>I want to go to sleep at:</option>
    </select>

    <br>

    <select id="hour">
        <option value="" selected disabled hidden>hour</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
    </select>

    <select id="minute">
        <option value="" selected disabled hidden>minute</option>
        <option>00</option>
        <option>05</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
        <option>30</option>
        <option>35</option>
        <option>40</option>
        <option>45</option>
        <option>50</option>
        <option>55</option>
    </select>

    <select id="period">
        <option value="" selected disabled hidden>period</option>
        <option>AM</option>
        <option>PM</option>
    </select>

    <br>
	<br>

    <button onclick="calculate()">Calculate</button>
  
    <br>
    <label id="instruction"></label>
    <table id="times"></table>
    <div id="semi-pie">
        <div class="col-sm-12" id="pie" style="padding:0px">
            <div id="pie-title"
                style=" padding-top: 20px; cursor: default; margin-bottom: 6px;  margin-left: 20px; font-family: Roboto;  font-weight: 500; font-size: 20px; text-align: left; color: #1A1A1A">
                Sleep Quality
            </div>
            <div class="row" style="height: 100px; cursor: default">
                <div class="col-xs-6 col-sm-6 col-md-6" id="Deepsleep"
                    style="border-top: 1px solid #D2D2D2; border-right: 1px solid #D2D2D2; padding-top: 20px; height: 100px;font-family: Roboto;  font-weight: 500; font-size: 24px; color: #392178; letter-spacing: -0.08px; text-align: center; ">
                    <p id="deephour"><b>1h 12 mins </b></p>
                    <p id="deeplegend"
                        style="font-family: Roboto; font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px; line-height: 0px; text-align: center;">
                        Deep Sleep
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col md-6" id="Lightsleep"
                    style="border-top: 1px solid #D2D2D2; padding-top: 20px; height: 100px;font-family: Roboto; font-weight: 500; font-size: 24px; color: #6137E3; letter-spacing: -0.08px; text-align: center; ">
                    <p id="lighthour"><b>4h 37 mins</b></p>
                    <p id="lightlegend"
                        style="font-family: Roboto; font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px;line-height: 0px; text-align: center;">
                        Light Sleep
                    </p>
                </div>
            </div>
            <div class="row" style="height: 100px; cursor: default">
                <div class="col-xs-6 col-sm-6 col-md-6" id="Awake"
                    style="border-top: 1px solid #D2D2D2;border-right: 1px solid #D2D2D2; padding-top:20px; height: 100px;font-family: Roboto; font-weight: 500; font-size: 24px; color: #9572FF; letter-spacing: -0.08px; text-align: center; ">
                    <p id="awakehour"><b>18 mins </b></p>
                    <p id="awakelegend"
                        style="font-family: Roboto;  font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px; line-height: 0px; text-align: center;">
                        Awake</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" id="REM"
                    style="border-top: 1px solid #D2D2D2; padding-top:20px; height: 100px;font-family: Roboto;  font-weight: 500; font-size: 24px; color: #4F2BAF; letter-spacing: -0.08px; text-align: center; ">
                    <p id="remhour"><b>53 mins </b></p>
                    <p id="lightlegend"
                        style="font-family: Roboto; font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px; line-height: 0px; text-align: center;">
                        REM Sleep
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>