<div id="water-consumed-info" class="hide" style="margin-top: 10px; cursor: default">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" id="pie" style=" background:white">
        <div id="pie-title"
            style="cursor: default; margin-left: 15px; font-family: Roboto;  font-weight: 500; font-size: 20px; text-align: left; color: #1A1A1A">
            <h2>Water Consumed</h2>
            <h4>Daily Goal: 2 Litres</h4>
        </div>
        <div class="cup">
            <div class="remaining">
                <small>Remaining</small>
            </div>
            <div class="percentage">
            </div>
        </div>
        <div align="left"
            style="padding: 15px; font-family: Roboto; font-weight: 500; font-size: 15px; color: #1A1A1A; letter-spacing: 0; cursor: default">
            <b>Add water Intake value</b>
        </div>
        <div class="cups">
            <div class="cup cup-small">250ml</div>
            <div class="cup cup-small">250ml</div>
            <div class="cup cup-small">250ml</div>
            <div class="cup cup-small">250ml</div>
            <div class="cup cup-small">250ml</div>
            <div class="cup cup-small">250ml</div>
            <div class="cup cup-small">250ml</div>
            <div class="cup cup-small">250ml</div>
        </div>
        {{!-- <div id="polar">
            <div class="column-chart" id="water-polar" style="padding:0px">
                <div align="Center"
                    style="font-family: Roboto; font-weight: 500; font-size: 16px; color: #1A1A1A; letter-spacing: 0; margin-bottom: 10px; cursor: default">
                    <b>Add water Intake value</b>
                </div>
                <div class="row" style="height: 80px">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 water50ml-column" id="water50ml-column"
                        style="background: #FFFFFF; height: 80px; border: 1px solid rgba(69,69,69,0.40); border-radius: 4px; text-align:center; color: #5B5B5B">
                        <center><span id="iconml-img" class="icon-ml" style="font-size: 35px;"></span></center>
                        <div class="imgtext1" id="imgtext1">50 ml</div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 water100ml-column" id="water100ml-column"
                        style="background: #FFFFFF; height: 80px; border: 1px solid rgba(69,69,69,0.40); border-radius: 4px; text-align:center; color: #5B5B5B">
                        <center><span id="iconml1-img" class="icon-ml1" style="font-size: 35px;"></span></center>
                        <div class="imgtext2" id="imgtext2">100 ml</div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 water200ml-column" id="water200ml-column"
                        style="background: #FFFFFF; height: 80px; border: 1px solid rgba(69,69,69,0.40); border-radius: 4px; text-align:center; color: #5B5B5B">
                        <center><span id="iconml2-img" class="icon-ml2" style="font-size: 35px;"></span></center>
                        <div class="imgtext3" id="imgtext3">200 ml</div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 water300ml-column" id="water300ml-column"
                        style="background: #FFFFFF; height: 80px; border: 1px solid rgba(69,69,69,0.40); border-radius: 4px; text-align:center; color: #5B5B5B">
                        <center><span id="iconml3-img" class="icon-ml3" style="font-size: 35px;"></span></center>
                        <div class="imgtext4" id="imgtext4">300 ml</div>
                    </div>
                </div>
            </div>
        </div>--}}
    </div>
</div>
<script src="/js/waterConsumed.js"></script>