<div id="container">
  <!-- Appbar area -->
  <div class="appbar text-center">
    <h1 class="card-header"> Comprehensive Health App - CHA </h1>
    <div class="card-body">
      <img class="image" src="./Images/app-logo.png" alt=""><br>
      <p>Welcome to our Congressional App! This app will teach you about mental health and self-care.</p>
      <p>We are so glad you've chosen to watch over yourself and take action to maintain your well-being.</p>
      <p>The app will give you some daily goals and small activities you can do to watch after yourself.</p>
      <p>If you are struggling with mental health, you're not alone. In our Chatroom, you can chat with friends.</p>
      <a href="/login" class="btn btn-primary">Login</a>
      <img class="image" src="./Images/profile-picture.png" alt="">
      <a href="/register" class="btn btn-primary">Sign up</a>
    </div>
  </div>
  <!-- Card area -->
  <div id="card-container">
    <div class="col-sm-6 col-lg-3 col-md-3 calories-value card-container">
      <div class="card shadow text-center">
        <div class="card-header">
          <h1>Calories Eaten</h1>
          <img class="icon-Food" src="./Images/food-icon.png" alt="">
        </div>
        <div class="card-body">
          <h2>BMI & BMR Calculator</h2>
          <a href="https://www.healthline.com/health/what-is-basal-metabolic-rate" class="btn btn-primary">Learn
            More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 col-md-3 water-value card-container" id="water-column">
      <div class="card shadow text-center">
        <div class="card-header">
          <h1>Water Consumed</h1>
          <img class="icon-Water" src="./Images/water-icon.png" alt="">
        </div>
        <div class="card-body">
          <h2 class="card-title">Set water drinking goals</h2>
          <a href="https://www.everydayhealth.com/dehydration/hydration-calculator/" class="btn btn-primary">Learn
            More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 col-md-3 sleep-value card-container" id="sleep-column">
      <div class="card shadow text-center">
        <div class="card-header">
          <h1>Sleep Time Cycles</h1>
          <img class="icon-Sleep" src="./Images/sleep-icon.png" alt="">
        </div>
        <div class="card-body">
          <h2 class="card-title">Improve quality of Sleep</h2>
          <a href="https://www.healthline.com/health/sleep/sleep-calculator" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 col-md-3 chatroom card-container" id="chat-column">
      <div class="card shadow text-center">
        <div class="card-header">
          <h1>Enter the Chatroom</h1>
          <img class="icon-Chat" src="./Images/chat-icon.png" alt="">
        </div>
        <div class="card-body">
          <h2 class="card-title">Chat with friends</h2>
          <a href="https://www.betterhelp.com/advice/chat/does-mental-health-online-chat-make-you-feel-better/"
            class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>